[project]
name = "banhxeo"
version = "0.1.3"
authors = [{ name = "Le Nguyen", email = "lenguyen18072003@gmail.com" }]
license = { text = "MIT License" }
readme = "README.md"
requires-python = ">=3.9, <3.13"
dependencies = [
    "asyncer>=0.0.8",
    "datasets>=3.6.0",
    "einops>=0.8.1",
    "gdown>=5.2.0",
    "jaxtyping>=0.2.36",
    "numpy",
    "optuna>=4.3.0",
    "polars",
    "pydantic>=2.11.4",
    "torch",
    "torchinfo>=1.8.0",
    "tqdm",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "ipykernel>=6.29.5",
    "ipywidgets>=8.1.7",
    "nltk>=3.9.1",
    "notebook>=7.4.2",
    "plotly>=6.0.1",
    "pytest>=8.3.5",
    "rich>=14.0.0",
    "requests>=2.32.3",
]

[tool.pyright]
venvPath = "."
venv = ".venv"
