name: Build Docs

on:
  pull_request:
  # push:
  #   branches:
  #     - main

permissions:
  contents: write

jobs:
  docs:
    name: Build Docs
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - name: Sync uv for docs
        run: |
          uv sync --extra docs && source .venv/bin/activate
      - name: Sphinx Build
        run: |
          make docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
